<div class="body-container">
	<header class="profile-navbar bubble">
		<ul class="page-navbar clearfix">
			<li><a href="#">add/change profile pic</a></li>
			<li><a href="#">create resolution</a>
				<%= form_for @resolution do |f| %>
					<%= f.label :title %><br>
					<%= f.text_field :title %><br>
					<%= f.label :body %><br>
					<%= f.text_area :body %><br>
					<%= f.hidden_field :user_id %>
					<%= hidden_field_tag 'resolution[user_id]', current_user.id %>
					<%= f.submit "create" %>
				<% end %>
			</li>
			
			<li><a href="#">edit resoultion</a></li>
			<li><a href="#">send promise</a></li>
		</ul>
	</header>
</div>