<div class="mini-footer clearfix">
	<ul class="left-list">
		<% if resolution.user.id == current_user.id %>
			<% if resolution.class.name == "Resolution" %>
				<li>
					<a class="update-button" href="#">update</a>
					<%= render :partial => 'shared/update_form', locals: {resolution: resolution}%>
				</li>
			<% end %>
		<% else  %>
			<li>
				
				<% liked = resolution.likes.map{|like| like.user.id}.include? current_user.id%>				
				
				<%= form_for Like.new, remote: true do |f|%>
					<%= f.hidden_field  :likeable_id%>
					<%= hidden_field_tag 'like[likeable_id]', resolution.id %>
					<%= f.hidden_field :likeable_type %>
					<%= hidden_field_tag 'like[likeable_type]', resolution.class.name %>
					<%= f.submit :like, class: "like-button #{'liked' if liked}" %>
				<% end  %>
				
					<%= form_tag({controller: 'likes', action: 'unlike', method: 'post'}, {class: "unlike_form #{'liked' unless liked}", remote: true}) do %>
						<%= hidden_field_tag 'like[likeable_id]', resolution.id %>
						<%= hidden_field_tag 'like[likeable_type]', resolution.class.name %>
						<%= submit_tag :unlike, class: "like-button" %>
					<% end %>

			</li>
		<% end %>
	</ul>
	<ul class="links clearfix">
		<% if resolution.class.name == "Resolution" %>
			<li class="show-updates">
				<a href="#">
					<span class="updates-count"><%= resolution.updates.length %></span> updates
				</a>
			</li>
		<% end %>
		<li class="show-comment">
			<a href="#"> 
				<span class="comments-count"><%= resolution.comments.length %></span> comments 
			</a>
		</li>
		<li class="show-likes">
			<a href="#">
				<span class="likes-count"><%= resolution.likes.length %></span> likes 
			</a>
		</li>
	</ul>
	<div class="comment">
	<%= render :partial => 'shared/comment_form', locals: {resolution: resolution} %>
	</div>
</div>