<!-- <%= image_tag current_user.profile_photo.url(:big) %>
<%= image_tag current_user.profile_photo.url(:small) %>
<%= image_tag current_user.profile_photo.url %> -->
</div>
<div class="body-container">
	<%= render :partial => 'shared/window_container', locals: {window_type: 'Global Resolutions'} %>
</div>

<script>
	

	$('.new_comment').on("ajax:success", function(event, data){
		$(this).parent().parent().siblings(".comments").append(data);
		$('#comment_body').val('');
	});

  var page = 1;
  var loading = false;
  function nearBottomOfPage() {
    return $(".mini-window-scroll-container").scrollTop() > 						$('.scroll-content').height() - 						$('.mini-window-scroll-container').height() - 200;
  }
  $('.mini-window-scroll-container').scroll(function(){
		if(nearBottomOfPage() && !loading && (page <= <%= @resolutions.total_pages %>) ) {
	    loading=true;
	    page += 1;
			$.ajaxSetup({
				beforeSend: function(){
					$('.loader-container').show();
				},
				complete:function(){
					$('.loader-container').hide();
				}
			});
	    $.ajax({url:"/?page=" + page}).done(
				function(data) {
					loading=false
					$('.resolution-list').append(data)
				}
			) 
	  }
  });
	
	// $('textarea').keydown(function(event) {
	// 	if (event.keyCode == 13) {
	// 		this.form.submit()
	// 	}
	// });

</script>