<% if user_signed_in?%>
<header class="nav">
	<div class="navbar clearfix">
		<ul class="left-menu">
			<li>
				<div><a href="<%= resolutions_url %>"><%= image_tag "transparentlogo.png", height: '12px',  class: 'logo'%></a>
				</div></li>
			<li>
				<div><a class="request-tab" href="#">
					<% requests = current_user.friend_requests %>
					friend requests 
					<% if requests.length > 0 %>
						<strong class="badge"><%= requests.length %></strong> 
					<% end %>
				</a></div>
				<ul class="nav-dropdown requests-list bubble clearfix">
					<% requests.each do |request| %>
						<li class="clearfix">
							<div class="request">
								<div class="name"><%= link_to(request[:friendname],user_url(request[:user_id])) %></div>
								<%= button_to "Accept", friendship_url(request[:id]), method: "put", remote:true, class:"new_friend" %>
							</div>
						</li>
					<% end %>
				</ul>
			</li>
			<li>
				<div>
				<% note_count = current_user.notifications_count %>
				<% if note_count > 0 %>
					<a class="notification-tab" data-remote="true" href="
						<%= read_url(note_count) %>">
				<% else %>
					<a class="notification-tab" href="#">
			  <% end %>
					notifications
					<% if note_count > 0 %>
						<strong class="badge"><%= note_count %></strong>
					<% end %>
				</a></div>
				<ul class="nav-dropdown notifications-list bubble clearfix">
					<% notifications = current_user.notifications.includes(:activity).reverse %>
					<% notifications.each do |note| %>
						<li>
							<div class="message">
								<%= link_to(note.message,user_url(note.activity.user_id)) %>
							</div>
						</li>
					<% end %>
				</ul>
			</li>
		</ul>
		
		<div class="search-bar">
			<input class="searchbar" value="TODO searchbar">
		</div>
		
		<ul class="right-menu">
			<li>
				<div><a href="#" class="home-tab">home</a></div>
				<ul class="nav-dropdown home-message bubble">
					<li>
						<div class="message">
							under construction
						</div>
					</li>
				</ul>
			</li>
			<li><div><%= link_to("profile", profile_url) %></div></li>
			<li><div><%= link_to("logout", destroy_user_session_url, method: :delete)%></div></li>
		</ul>
	</div>
</header>

<% end %>

<script>

$('.button_to').on("ajax:success", function(event){
	$(event.target).parent().parent().hide();
	var $badge = $('.badge');
	($badge.text() == 1) ? $badge.addClass('friended') : $badge.text($badge.text()-1)
});

$('.notification-tab').on("ajax:success", function(){
	$(this).find('.badge').hide();
});

$('.navbar > ul > li > div').hover(
	function () {
    $(this).addClass("swing animated");
  },
  function () {
    $(this).removeClass("swing animated");
  }
);

$(window).scroll(function() {
    $('.navbar').css('left', -$(this).scrollLeft() + "px");
});

</script>