<!DOCTYPE html>
<html>
<head>
  <title>PromiseApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
	<%= javascript_include_tag "application" %>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
</head>
<body>
	
	<%= render :partial => 'layouts/navigation_bar' %>
	
	
	<div class="content clearfix">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>		
		<%= render :partial => '/layouts/right_feed' if user_signed_in?%>
		<div class="profile-container">
		<%= render :partial => '/layouts/profile' if user_signed_in?%>
		<%= yield %>
	</div>
	
	<footer>
		<div class="footer-bar">
			<div>PromiseApp &copy; 2013
			<% unless Time.now.year == 2013 %>
			- <%= Time.now.year %>
			<% end %></div>
		</div>
	</footer>
	
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</body>
</html>
