<!DOCTYPE html>
<html>
<head>
  <title>Promisrs</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<%= javascript_include_tag "application" %>
</head>
<body>
	
	<%= render :partial => 'layouts/navigation_bar' %>
	
	<div class="errors">
		<div class="error-bar <%= 'center' unless current_user %>">
		<p class="notice"><%= notice %></p> 
		<p class="alert"><%= alert %></p>	
		</div>
	</div>
	
	<div class="content clearfix">
		<% if user_signed_in? %>	
			<%= render :partial => '/layouts/right_feed'%>
			<%= render :partial => '/layouts/profile'%>
		<% end %>
		<%= yield %>
	</div>
	
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	
</body>
<footer>
	<div class="footer-bar">
		<div class="logo">Promisrs &copy; 2013
		<% unless Time.now.year == 2013 %>
		- <%= Time.now.year %>
		<% end %></div>
	</div>
</footer>
</html>
